.contact {
    font-size: 19px;
    margin-top: 5px;
    height: 100vh;
    width: 100vw;
    margin: 0;
    box-sizing: border-box;
}

.contact-button {
    font-size: 20px;
    padding: 10px 20px;
    min-width: 100px;
    margin: 5px;
}